{% extends 'base.html.twig' %}

{% block title %}Perfil de Usuario{% endblock %}



{% block body %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}
<div class="profile-card">
    <h2>Información del Usuario</h2>
    <div class="field">
        <span>Nombre:</span> {{ app.user.persona.nombres }}
    </div>
    <div class="field">
        <span>Apellidos:</span> {{ app.user.persona.apellidos }}
    </div>
    <div class="field">
        <span>Dirección:</span> {{ app.user.persona.direccion }}
    </div>
    <div class="field">
        <span>Edad:</span> {{ app.user.persona.edad }}
    </div>
    <div class="field">
        <span>Género:</span> {{ app.user.persona.genero }}
    </div>
    <div class="field">
        <span>Cédula:</span> {{ app.user.persona.cedula }}
    </div>
</div>
{% endblock %}
